*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 50px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 110px;
}
.logo{
    height: 50px;
    width: 110px;
    background-size: cover;
    background-image: url("amazon_logo.png");
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.addr-icon{
    display: flex;
    align-items: center;
}
.addr-first{
    color: #cccccc;
    font-size: 0.65rem; 
    margin-left: 15px;
}
.addr-second{
    font-size: 0.8rem;
    margin-left: 3px;
    font-weight: bold;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
    background-color: orange;
    width: 50%;
    height: 30px;

}
.nav-search:hover{
    border: 2px orange solid;
}
.search-select{
    border-start-start-radius: 4px;
    background-color: #f3f3f3;
    text-align: center;
    width: 9%;
    border: none;
}
.search-input{
    border-end-end-radius: 4px;
    width: 100%;
    border: none;
}
.search-icon{
    color: black;
    display: flex;
    width: 9%;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
span{
    font-size: 0.65rem;

}
.nav-second{
    font-size: 0.8rem;
    font-weight: bold;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-weight: bold;
    font-size: 0.8rem;
}
.panel{
    height: 35px;
    display: flex;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options p{
    display: inline-block;
    margin-left: 10px;
    font-size: 0.8rem;
    
}
.panel-options{
    width: 70%;
}
.panel-deals{
    font-size: 0.85rem;
    font-weight: bold;
}
.hero-section{
    height: 200px;
    background-image: url("hero_image.jpg");
    background-size: cover;
}